# actionscript-diff-demo
actionscript/actionscript-diff-demo/.settings
actionscript/actionscript-diff-demo/bin-debug/*
actionscript/actionscript-diff-demo/bin-release/*
actionscript/actionscript-diff-demo/html-template/*

# actionscript-relative-date-demo
actionscript/actionscript-relative-date-demo/.settings
actionscript/actionscript-relative-date-demo/bin-debug/*
actionscript/actionscript-relative-date-demo/bin-release/*
actionscript/actionscript-relative-date-demo/html-template/*

# actionscript-oauth2-mobile-demo
actionscript/actionscript-oauth2-mobile-demo/.settings
actionscript/actionscript-oauth2-mobile-demo/bin-debug/*
actionscript/actionscript-oauth2-mobile-demo/bin-release/*

# actionscript-notification-engine-demo
actionscript/actionscript-notification-engine-demo/.settings
actionscript/actionscript-notification-engine-demo/bin-debug/*
actionscript/actionscript-notification-engine-demo/bin-release/*

# queue-from-stacks
java/queue-from-stacks/bin/*

# permutations-of-a-string
java/permutations-of-a-string/bin/*

# combinations-of-a-string
java/combinations-of-a-string/bin/*

# telephone-word-permutations
java/telephone-word-permutations/bin/*

# sqrt-estimation-by-binary-search
java/sqrt-estimation-by-binary-search/bin/*

# quine
java/quine/bin/*

# print-circular
java/print-circular/bin/*